// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$dribble-name: 'dribble';
$dribble-x: 0px;
$dribble-y: 0px;
$dribble-offset-x: 0px;
$dribble-offset-y: 0px;
$dribble-width: 17px;
$dribble-height: 17px;
$dribble-total-width: 83px;
$dribble-total-height: 17px;
$dribble-image: 'src/img/sprite.png';
$dribble: (0px, 0px, 0px, 0px, 17px, 17px, 83px, 17px, 'src/img/sprite.png', 'dribble', );
$facebook-name: 'facebook';
$facebook-x: 22px;
$facebook-y: 0px;
$facebook-offset-x: -22px;
$facebook-offset-y: 0px;
$facebook-width: 17px;
$facebook-height: 17px;
$facebook-total-width: 83px;
$facebook-total-height: 17px;
$facebook-image: 'src/img/sprite.png';
$facebook: (22px, 0px, -22px, 0px, 17px, 17px, 83px, 17px, 'src/img/sprite.png', 'facebook', );
$google-name: 'google';
$google-x: 44px;
$google-y: 0px;
$google-offset-x: -44px;
$google-offset-y: 0px;
$google-width: 17px;
$google-height: 17px;
$google-total-width: 83px;
$google-total-height: 17px;
$google-image: 'src/img/sprite.png';
$google: (44px, 0px, -44px, 0px, 17px, 17px, 83px, 17px, 'src/img/sprite.png', 'google', );
$twitter-name: 'twitter';
$twitter-x: 66px;
$twitter-y: 0px;
$twitter-offset-x: -66px;
$twitter-offset-y: 0px;
$twitter-width: 17px;
$twitter-height: 17px;
$twitter-total-width: 83px;
$twitter-total-height: 17px;
$twitter-image: 'src/img/sprite.png';
$twitter: (66px, 0px, -66px, 0px, 17px, 17px, 83px, 17px, 'src/img/sprite.png', 'twitter', );
$spritesheet-width: 83px;
$spritesheet-height: 17px;
$spritesheet-image: 'src/img/sprite.png';
$spritesheet-sprites: ($dribble, $facebook, $google, $twitter, );
$spritesheet: (83px, 17px, 'src/img/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
